{% extends "teams/account.html" %}

{% load team_extras %}

{% block account_tab %}
<div class="bounds circle--page">
    <form method="POST" action="{% url 'teams:profile_edit' %}" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="circle--page--header circle--fluid">
            <div class="circle--fluid--cell circle--fluid--primary">
                <h2>Profile</h2>
            </div>
            <div class="circle--fluid--cell circle--fluid--secondary">
                <input type="submit" class="button button-primary icon-on-left" value="Save {% if new %}Profile{% else %}Changes{% endif %}">
            </div>
        </div>

        <div class="grid-70">
            {{ form.full_name|cssclass:'circle--input--h1'}}
            <div class="circle--article--body">
                {{ form.description }}
                <span>This field is <a href="https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet" target="_blank">Markdown</a> enabled!</span>
            </div>
            <h3>Positions I Can Fill</h3>
            {{ form.positions }}
        </div>

        <div class="grid-25 grid-push-5">

            <div class="circle--secondary--module">
                <div class="circle--primary--avatar{% if form.instance.pk and form.instance.avatar %} avatar-edit{% endif %}">
                {% if form.instance.pk and form.instance.avatar %}
                    <img class="profile-pic" src="{{ form.instance.avatar.url }}" >
                    <a class="button edit">
                        Edit Photo
                        <input type="file" name="avatar" id="id_avatar">
                    </a>
                {% else %}
                    <a class="button">
                    Upload Photo
                    {{ form.avatar }}
                    </a>
                {% endif %}
                </div>
            </div>

            <div class="circle--secondary--module">
                <h4>My Skills</h4>
                {{ skill_formset.management_form }}
                <ul class="circle--clone--list">
                    {% for f in skill_formset %}
                    <li>
                        {{ f.id.as_hidden }}
                        {{ f.name }}
                        <a class="circle--clone--add">Add Skill</a>
                        <a class="circle--clone--remove">Remove</a>
                        {{ f.DELETE|cssclass:"hidden-delete" }}
                    </li>
                    {% endfor %}
                </ul>
            </div>

            <div class="circle--secondary--module">
                <h4>My Projects</h4>
                {{ other_project_formset.management_form }}
                <ul class="circle--clone--list">
                    {% for f in other_project_formset %}
                    <li>
                        {{ f.id.as_hidden }}
                        {{ f.name }}
                        {{ f.url }}
                        <a class="circle--clone--add">Add Project</a>
                        <a class="circle--clone--remove">Remove</a>
                        {{ f.DELETE|cssclass:"hidden-delete" }}
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
</form>
</div>
{% endblock %}