{% extends "layout.html" %}

{% block content %}
{% if user.id == project_owner.id %}
<div class="circle--actions--bar">
    <div class="bounds">
        <div class="grid-100">
            <a class="button" href="{% url 'teams:project_edit' pk=project.pk%}">Edit Project</a>
            <a class="button button-text" href="{% url 'teams:project_delete' pk=project.pk %}">Delete Project</a>
        </div>
    </div>
</div>
{% endif %}

<div class="bounds circle--page circle--article">
    <div class="grid-70">
        <div class="circle--article--header">
            <h4 class="circle--article--section">Project</h4>
            <h1 class="circle--article--title">{{ project.title }}</h1>
            <p class="circle--article--byline">Project Owner: <a href="{% if user.id == project_owner.id %}{% url 'teams:profile' %}{% else %}{% url 'teams:profile_pk' pk=project_owner.pk %}{% endif %}">{{ display_name }}</a></p>
        </div>

        <div class="circle--article--body">
            {{ project.description }}
        </div>

        <div class="circle--project--positions">
            <h2>Positions</h2>

            <ul class="circle--group--list">
                {% for position in positions %}
                <li>
                    <h3>{{ position.position.title }}</h3>
                    <p>{{ position.description }}</p>
                    {% if user.id != project_owner.id and user.is_authenticated %}
                    <a href="{% url 'teams:apply' pk=project.pk project_position_pk=position.pk %}" class="button button-primary {% if position.id in user_apps or position.status == 'filled' %}button-inactive{% endif %}" {% if position.id in user_apps or position.status == 'filled' %}style="pointer-events:none;"{% endif %}>
                        {% if position.status == 'filled' %}
                            Position Filled
                        {% elif position.id in user_apps %}
                            Application Received
                        {% else %}
                            Apply
                        {% endif %}
                    </a>
                    {% endif %}
                </li>
                {% endfor %}
            </ul>
        </div>

    </div>

    <div class="grid-25 grid-push-5">
        <div class="circle--secondary--module">
            <h3>Project Needs</h3>
            <ul class="circle--link--list">
                {% for position in positions %}
                <li><a>{{ position.position.title }}</a></li>
                {% endfor %}
            </ul>
        </div>

        <div class="circle--secondary--module">
            <h3>Project Timeline</h3>
            <p>{{ project.time_estimate }}</p>
        </div>

        <div class="circle--secondary--module">
            <h3>Applicant Requirements</h3>
            <p>{{ project.requirements }}</p>
        </div>

    </div>
</div>
{% endblock %}